@model BibliotekaWeb.Models.Ksiazka

@{
    ViewData["Title"] = "Dodaj książkę";
}

<h1>Dodaj książkę</h1>

<form asp-action="Create">
    <div class="form-group">
        <label asp-for="Tytul" class="control-label"></label>
        <input asp-for="Tytul" class="form-control" />
        <span asp-validation-for="Tytul" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Autor" class="control-label"></label>
        <input asp-for="Autor" class="form-control" />
        <span asp-validation-for="Autor" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="ISBN" class="control-label"></label>
        <input asp-for="ISBN" class="form-control" />
        <span asp-validation-for="ISBN" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Dostepnosc" class="control-label"></label>
        <select asp-for="Dostepnosc" class="form-control">
            <option value="true">Dostępna</option>
            <option value="false">Niedostępna</option>
        </select>
        <span asp-validation-for="Dostepnosc" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Tematyka" class="control-label"></label>
        <select asp-for="Tematyka"
                class="form-control"
                asp-items="Html.GetEnumSelectList<BibliotekaWeb.Models.Tematyka>()">
        </select>
        <span asp-validation-for="Tematyka" class="text-danger"></span>
    </div>

    <div class="form-group">
        <input type="submit" value="Dodaj" class="btn btn-primary" />
    </div>
</form>

<div>
    <a asp-action="Katalog" class="btn btn-secondary">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
